.logo-img {
    align-items: center;
    text-align: center;
}


.my-feed-title {
    text-align: center;
    font-size: 20px;
    margin-top: 30%;
}

.img-url-placeholder {
    align-items: center;
}