*{
    padding: 0;
    margin: 0;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #999999; 
    
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }


  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 90%; /*Moves the table towards to left*/
    
    margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    padding-left: 2%; /* to move the text to the right*/
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,.overlay a:focus {
    color: #f1f1f1;
  }

  #MenueOpen:hover{
    color: f1f1f1
  }
  
  /* Position the close button (top left corner) */
  .overlay .closebtn {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

#logoTable{
  background-color: #BEBDB8;
}

table {
  
    padding: 10px;

    width: 100%;

    /* Tempborder: solid; */
}
td{
 
  text-align: center;
  
}
#Link{
  width: 60%;
  text-align: left;
}
/* End of Menu */

.StartButton {
  padding: 8px 16px;
  font-size: 40px;
  background-color: #0366d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /*Removes underline*/

/* Centering the button */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.StartButton:hover {
  background-color: #004ba0;
}

h1{
  text-align: center;
  font-size: 60px;
  color:#333 ;
  position: relative;
  top: 10%;
}

