.center{text-align: center;}




/* Start of Carousel */



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .arrow {
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-size: 40px;
    background-color: lightgray;
    margin-bottom: 0px;
  }
  
  .box {
    display: inline-block;
    width: 350px;
    height: auto;
    margin: 0 10px;
    padding: 1px;
  
  }
  
  .tradingview-widget-container {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  /* end */
  
/* GPT */
.article-container {
  padding: 10px;
  background-color: #E6F1F6; /* Light blue background */
  border: 1px solid #A3C8D9; /* Border color */
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px; /* Space between news widgets */
}

.article-image {
  float: left;
  width: 120px; /* Reduced image width */
  margin-right: 10px; /* Space between image and content */
  border: 2px solid #000; /* 2px border with black color */
  box-sizing: border-box; /* Include border in the width calculation */
}

.article-content {
  overflow: hidden;
}

.article-title {
  margin-top: 0;
  margin-bottom: 5px; /* Adjusted margin */
  font-size: 18px; /* Increased font size */
}

.article-source {
  color: #666;
  margin-bottom: 5px; /* Adjusted margin */
  font-size: 14px; /* Adjusted font size */
}

.article-description {
  margin-bottom: 5px; /* Adjusted margin */
  font-size: 14px; /* Adjusted font size */
}

.article-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #FF6347; /* Orange background color */
  color: #FFF; /* White text color */
  text-decoration: none;
  font-size: 14px; /* Adjusted font size */
  border: 2px solid #FF6347; /* Orange border color */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.article-link:hover {
  background-color: #FFF; /* White background color on hover */
  color: #FF6347; /* Orange text color on hover */
}

.news-container {
  margin: 0 auto; /* Center the news widgets horizontally */
  width: 70%; /* Set the width to 70% of the screen */
  padding: 20px; /* Space between the edge of the screen and news widgets */
}



  
/* Tittle  */

.news-heading {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
